*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/static/fonts/Montserrat-Regular.woff') format('woff'),
        url('/static/fonts/Montserrat-Regular.otf') format('otf'),
        url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat';
    background-color: #EEEEEE;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-box{
    background: rgba( 238, 238, 238, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;

    h2{
        text-align: center;
        margin-bottom: 30px;
    }
}

#lb-btn{
    text-align: right;
    button{
        border: none;
        right: 30px;
        padding: 10px;
        background-color: #A8B3BC;
        cursor: pointer;
        transition: background-color ease-in-out .2s;
    }

    button:hover{
        background-color: lighten(#A8B3BC, 10%);
    }
}

.lb-input-group{
    margin-bottom: 10px;
    input{
        margin-top: 10px;
        border: none;
        width: 100%;
        height: 35px;
        background-color: darken(#EEEEEE, 10%);
        border-radius: 5px;
        outline: none;
        padding: 0 10px 0 10px;
        font-size: 17px;
    }
}

@keyframes login_errorbox_open {
    100% {height: auto; padding: 20px; opacity: 1;}
}

@keyframes login_errorbox_close {
    100% {height: 0px; padding: 0px; opacity: 0;}
}

#lb-hiperlinks{
    margin-top: 30px;
    text-align: center;
}

#login-error-box{
    margin-top: 10px;
    padding: 0px;
    opacity: 0;
    background-color: #FFD9C3;
    border: 2px solid darken(#FFD9C3, 20%);
    width: 300px;
    text-align: center;
}

/* ==================================== */
/*                PANEL                 */
/* ==================================== */

#chat-box{
    width: 95%;
    height: 95%;
    display: flex;
    gap: 10px;
}

#cb-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cb-right{
    width: 70%;
    display: flex;
    flex-direction: column;

    background: rgba( 238, 238, 238, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#cb-motd{
    width: 100%;
    height: 50%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba( 238, 238, 238, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#cb-server{
    width: 100%;
    height: 50%;

    background: rgba( 238, 238, 238, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 20px 0 0 30px;
    p{
        font-size: 25px;
        font-weight: bold;
    }

    ul{
        margin-left: 40px;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                width: 20px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }

}

#cb-chat{
    height: 95%;
    padding: 15px;

    p{
        padding: 2px;
    }
}

.msg-client{
    color: grey;
    font-style: italic;
}

.msg-server{
    font-weight: bolder;
}

.msg-server.success{
    background-color: #00754B;
    color: #F2ECFF;
}

.msg-server.warning{
    background-color: #cb3b3b;
    color: #F2ECFF;
}

.msg-user{
    span{
        font-weight: bolder;
    }
}

#cb-input{
    height: 5%;
    display: flex;
    input{
        width: 90%;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: darken(#dee1ec, 10%);
        padding: 0 10px 0 10px;
        font-size: 15px;
    }
    button{
        width: 10%;
        cursor: pointer;
        border: none;
        background-color: #474747;
        color: white;
        outline: none;
    }
}
