<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home // DeepRiver</title>
        <link rel="stylesheet" href="/static/css/main.css?v=55">
    </head>
    <body>
        <div class="wrapper">
            <div id="login-box">
                <h2 id="lb-title">Deepriver Chat</h2>
                <div class="lb-input-group">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" id="i-username" name="username">
                </div>
                <div id="lb-btn">
                    <button id="btn-start-session">Start session</button>
                </div>
                <div id="lb-hiperlinks">
                    <a href="/faq#1">What is this?</a>
                    <br>
                    <a href="/faq#2">Security measures</a>
                    <br>
                    <a href="/faq#3">Contacts</a>
                </div>
            </div>
            <div id="login-error-box"></div>
        </div>
        <script src="/static/js/index.js?v=55"></script>
    </body>
</html>