<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panel // DeepRiver</title>
        <link rel="stylesheet" href="/static/css/main.css?v=55">
    </head>
    <body>
        <div class="wrapper">
            <div id="chat-box">
                <div id="cb-left">
                    <div id="cb-motd">
                        <h1>Welcome, {{user}}!</h1>
                    </div>
                    <div id="cb-server">
                        <p id="cbs-root">/root</p>
                        <ul id="cbs-list"></ul>
                    </div>
                </div>
                <div id="cb-right">
                    <div id="cb-chat"></div>
                    <div id="cb-input">
                        <input type="text" name="i-chat-message" id="i-chat-message">
                        <button id="btn-send">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/socket.io.js"></script>
        <script src="/static/js/panel.js?v=55"></script>
    </body>
</html>